@import '../scss_patterns/header';
@import '../scss_patterns/footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}   

@mixin flex__params($horiz, $vert, $dir){
    display: flex;
    flex-direction: $dir;
    align-items: $horiz;
    justify-content: $vert;
}

body{
    width: 100%;
    height: 100vh;
    @include flex__params(center, start, column);
}

.outer__cont{
    width: 1000px;
    min-height: 744px;
    height: auto;
}

main{
    height: auto;
    @include flex__params(center, center, column);
    h1{
        width: 100%;
        padding: 30px;
    }

    .acc__cont{
        width: 950px;
        height: auto;
        .acc__tab{
            transition: all 0.1s;
            height: auto;
            min-height: 65px;
            border-bottom: 1px solid red;
            @include flex__params(start, space-between, column);

            .tab__title{
                width: 100%;
                height: 65px;
                padding-left: 30px;
                font-weight: 500;
                @include flex__params(center, space-between, row);
                .arrow{
                    transition: all 0.5s;
                    transform: rotate(180deg);
                }
                .rotate{
                    transform: rotate(360deg);
                }
            }
            .tab__title:hover{
                cursor: pointer;
            }

            ul{
                transition: height 0.4s;
                height: 1px;
                overflow: hidden;
                list-style: none;
                li{
                    margin: 10px;
                    margin-left:15px;
                    font-weight: 400;
                }
                li:before{
                    content:("–");
                    margin-right:15px;
                    color: green;
        
                }

            }
            .open{
                transition: height 0.4s;
                height: 150px;
                
            }
        }
        .acc__tab__border{
            border-left: 4px solid red;
            border-top: 1px solid red;
        }
    }
    

}


.btn__cont{
    width: 100%;
    margin: 25px;
    text-align: center;
    button{
        width: 189px;
        height: 52px;
        border-radius: 8px;
        border: 1px solid #00000033;
        background-color: #FFFFFF;
    }
    button:disabled, button:active{
        border: 1px solid #00000033;
        background-color: #1C1A1A26;
    }
}
